{% extends 'layout.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="site-cover site-cover-sm">
    <div class="container">
        <form action="{% url 'blogInsert' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            {{ form.media }} 

            <!--categories_id değeri blog tablosundan geliyor.-->
            <select class="custom-select" name="categories_id"> 
                {% for item in category %}
                    <option name="categories_id" value="{{ item.id }}">
                        {{ item.name }}
                    </option>
                {% endfor %}
            </select>

            <br/><br/>

            
            <!--author_id değeri manytomany ilişkili kayıtların id olarak,ayrıca eklendiği olduğu tablodan geliyor.-->
            
            <select class="custom-select" name="author_id"> 
                {% for item in author %}
                    <option name="author_id" value="{{ item.id }}">
                        {{ item.nameSurname }}
                    </option>
                {% endfor %}
            </select>
            
            <br /><br />

            <input type="submit" value="Blog Ekle" class="btn btn-danger">
        </form>
    </div>
</div>
{% endblock %}
