{% extends 'layout.html' %}
{% block content %}
<div class="site-cover site-cover-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% if category %}
                    <table class="table table-dark table-striped table-bordered table-hover table-sm">
                        <thead class="thead-light">
                            <tr class="text-center">
                                <th>Başlık</th>
                                <th>Detay</th>
                                <th>Onay Tipi</th>
                                <th>Onay Durumu</th>
                                <th>Güncelle</th>
                                <th>Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in category %}
                            <tr>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.description|truncatewords:6 | safe }}</td>
                                    <td class="text-center">
                                        {% if item.status|yesno:"yeah" %}
                                            <a href="{% url 'categoryStatusUpdateFalse' item.id %}" class="btn btn-danger">Pasif Yap</a>
                                        {% else %}
                                            <a href="{% url 'categoryStatusUpdateTrue' item.id %}" class="btn btn-success">Aktif Yap</a>
                                        {% endif %}
                                    </td>
                                    <td>{{ item.status }}</td>
                                    <td>
                                        <a href="{% url 'categoryUpdate' item.id %}" class="btn btn-info">Güncelle</a>
                                    </td>
                                    <td>
                                        <a href="/categoryDelete/{{ item.id }}" class="btn btn-secondary">Sil</a>
                                    </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>
                        Kategori Kayıtları Getirilemedi..
                    </p>
                {% endif %}
                <a href="{% url 'categoryInsert' %}" class="btn btn-primary">Yeni Kategori Ekle</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
